### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Local environment
myenv/

# Streamlit docs
.streamlit/secrets.toml

# Test files
sample.py

# Output files
.DS_Store
__pycache__/